@import url('https://fonts.googleapis.com/css?family=Barlow|Montserrat:400,600,700,800|Tajawal&display=swap');

body {
    background-color: whitesmoke;
    font-family: 'Tajawal', sans-serif;
    font-size: 16px
}



/* set the heading styles */
h1,
h2,
h3,
h4 {
    font-family: 'Tajawal', sans-serif;

}


h1 {
    font-weight: 600;
    font-size: 28px;
    padding: 20px 0;
    text-transform: uppercase;
}

h2 {
    font-weight: 600;
    font-size: 25px;
    color: black;
    border-bottom: 10px solid #BABECC;
    border-top: 10px solid whitesmoke;
    padding: 30 0 30px 10;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}

h3 {
    font-size: 23px;
    margin: 10px 0 20px 0;
}

p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 25px;
    color: black;



}

/*
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0 20px;
}
*/
.inner {
    margin: 0 20px;
}

a {
    color: #ffffff;
}

a:visited {
    color: black;
}

a:hover {
    color: #4A2915;
}



a:active {
    color: #4A2915;
}



/*just target the paragraph in the foot */
footer p {
    font-size: 16px;
    color: black;
    padding: 20px;
    text-align: center;
    margin: 0;
}


main ul {
    list-style-type: disc;

}


main ol {
    list-style-type: decimal;

}

main li {

    margin-left: 40px;
}



/*navigation*/

nav ul {
    list-style-type: none;
    font-size: 17px;

}

nav ul li {
    display: inline;


}

nav ul li a {
    text-decoration: none;
    padding: 15px 15px;
    text-transform: uppercase;



}

nav ul li a {


    background-color: rosybrown;
    color: black;
}



.wrapper {
    width: 980px;
    /*margin TOP/BOTTOM left/right */
    margin: 0 auto;
    padding-top: 3px;
}

header {
    background-color: rosybrown;
    position: fixed;
    width: 100%;
}

h1 {
    font-size: 30px;
    letter-spacing: inherit;
    display: inline-block;
    padding: 10px 0;
}






nav {
    background-color: rosybrown;
    height: 50px;
    display: inline-block;
    float: right;

}

nav ul {
    background-color: rosybrown;
    margin-top: 15px;
}





.hero-content {
    background-image: url(../images/churchill-house-18.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: middle;
    padding-top: 50px;
}


main {
    /* background imageL url(.../   )   */
    background-color: whitesmoke;
    /*    margin: 0 20px;*/
    /*    padding: 0px 20px 50px 20px;*/

}

footer {
    background-color: #EB6931;
    height: 60px;

}


img {
    max-width: 100%;
    min-width: 100%;
}


.image-box .main image {
    max-height: 300px;
    border: 1px solid #fff;
    padding: 20px;

}

.image-two {
    max-width: 940px;
}


.last-word {
    clear: both;
}
