@import url('https://fonts.googleapis.com/css?family=Barlow|Montserrat:400,600,700,800|Tajawal&display=swap');

body {
    background-color: #D2B48C;
    font-family: 'Tajawal', sans-serif;
    font-size: 16px
}



/* set the heading styles */
h1,
h2,
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
}


h1 {
    font-weight: 600;
    font-size: 28px;
    margin: 20px 0;
    color: #FFA07A;
    text-transform: uppercase;
}

h2 {
    font-weight: 600;
    font-size: 25px;
    color: #FFA07A;
    border: 10px solid #fff;
    padding: 30 10 30px 10;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}

h3 {
    font-size: 23px;
    margin: 10px 0 20px 0;
}

p {
    margin-top;
    20px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 20px;
    color: black;



}


a {
    color: #ffffff;
}

a:visited {
    color: black;
}

a:hover {
    color: hotpink;
}



a:active {
    color: yellow;
}



/*just target the paragraph in the foot */
footer p {
    font-size: 16px;
    color: black;
    padding: 20px;
    text-align: center;
}


main ul {
    list-style-type: disc;

}


main ol {
    list-style-type: decimal;

}

main li {

    margin-left: 40px;
}



/*navigation*/

nav ul {
    list-style-type: none;

}

nav ul li {
    display: inline;


}

nav ul li a {
    text-decoration: none;
    padding: 10px 10px;
    color: azure;
    background-color: black;


}

nav ul li a {


    background-color: white;
    color: black;
}




.wrapper {
    width: 980px;
    /*margin TOP/BOTTOM left/right */
    margin: 0 auto;
}

header {
    background-color: antiquewhite;
    height: 100px;
}

nav {
    background-color: aqua;
}

nav ul {
    background-color: antiquewhite;
}


nav ul li {
    background-color: peachpuff;
}


main {
    background-color: cornsilk;
    padding: 0 20px;

}

footer {
    background-color: bisque;
    height: 60px;

}


img {
    max-width: 940px;
}

.image-box .main image {
    max-height: 300px;
    border: 1px solid #fff;
    padding: 20px;

}
