@import url('https://fonts.googleapis.com/css?family=Barlow|Montserrat:400,600,700,800|Tajawal&display=swap');

body {
    background-color: whitesmoke;
    font-family: 'Tajawal', sans-serif;
    font-size: 18px;
}



/* set the heading styles */
h1,
h2,
h3,
h4 {
    font-family: 'Tajawal', sans-serif;

}


h1 {
    font-weight: 600;
    font-size: 1.556em;
    padding: 1.111em 0;
    text-transform: uppercase;
}

h2 {
    font-weight: 600;
    font-size: 1.389em;
    color: black;
    border-bottom: 0.556em solid #BABECC;
    border-top: 0.556em solid whitesmoke;
    padding: 1.667em 0.00em 1.667em 0.566em;
    text-align: center;
    letter-spacing: 0.056em;
    text-transform: uppercase;
}

h3 {
    font-size: 1.278em;
    margin: 0.566em 0.00em 1.111em 0.00em;
}


/*h4: photo captions*/

h4 {
    font-size: 0.80em;
    margin: 0.566em 0.00em 1.111em 0.00em;
}

p {
    margin-top: 1.111em;
    margin-bottom: 1.11em;
    font-size: 1em;
    line-height: 1.389em;
    color: black;
}


.inner {
    margin: 0 1.111em;
}

a {
    color: #ffffff;
}

a:visited {
    color: black;
}

a:hover {
    color: #4A2915;
}



a:active {
    color: #4A2915;
}



/*just target the paragraph in the foot */
footer p {
    font-size: 0.889em;
    color: black;
    padding: 1.11em;
    text-align: center;
    margin: 0;
}


main ul {
    list-style-type: disc;
    margin-bottom: 1.6em;

}


main ol {
    list-style-type: decimal;

}

main li {

    margin-left: 2.222em;
    margin-bottom: 0.6em;
}



/*navigation*/

nav ul {
    list-style-type: none;
    font-size: 0.944em;

}

nav ul li {
    display: inline;


}

nav ul li a {
    text-decoration: none;
    padding: 0.833em 0.833em;
    text-transform: uppercase;



}

nav ul li a {


    background-color: rosybrown;
    color: black;
}



.wrapper {
    width: 70%;
    /*margin TOP/BOTTOM left/right */
    margin: 0 auto;
    padding-top: 0.167em;
}

/*to ensure website is responsive on all devices*/

@media screen and (max-device-width:26.667em) {
    .wrapper {


        width: 98%;
    }


    /*change image width on mobile*/

    img {
        max-width: 100%
    }


}

@media screen and (min-device-width:26.667em) {
    .wrapper {
        width: 95%;
    }

    main .wrapper {
        width: 80%;
    }
}

/* this media query will target devices larger than 400px and less than 768px SET AS EM*/
@media screen and (min-device-width: 22.222em) and (max-device-width: 42.667em) {


    /* override typography */

    h2 {
        font-size: 2.389em
    }

    h3 {
        font-size: 2.278em
    }


    .wrapper {

        width: 95%;

    }



}


header {
    background-color: rosybrown;
    position: fixed;
    width: 100%;
}

h1 {
    font-size: 1.667em;
    letter-spacing: inherit;
    display: inline-block;
    padding: 0.556em 000em;
}






nav {
    background-color: rosybrown;
    height: 2.778em;
    display: inline-block;
    float: right;

}

nav ul {
    background-color: rosybrown;
    margin-top: 0.833em;
}



/*this applies to the layout of the hero content on all of the pages*/

.hero-content {
    height: 22.222em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 2.778em;
}


/*this changes the image on selected pages*/

.hero-content.index {
    background-image: url(../images/churchill-house-1.jpg);
}

.hero-content.heritage {
    background-image: url(../images/churchill-house-12.jpg);
}

.hero-content.about {

    background-image: url(../images/churchill-house-25.jpg)
}

.hero-content.the-architect {

    background-image: url(../images/churchill-house-17.jpg)
}


.hero-content.significance {

    background-image: url(../images/churchill-house-18.jpg)
}



main {
    background-color: whitesmoke;


}

footer {
    background-color: #BABECC;
    height: 3.333em;

}


img {
    max-width: 100%;
    min-width: 100%;
}


.image-box .main image {
    max-height: 16.667em;
    border: 0.056em solid #fff;
    padding: 1.111em;

}




.last-word {
    clear: both;
}
